@model ShopCartViewModel


<div class="container" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: left">
    @foreach(var el in Model.shopCart.listShopItems) {
        <div class="alert alert-warning mt-3" style="width: 300px">
            <p>@el.car.name</p>
            <p>Price: @el.car.price.ToString("c")</p>
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">оплатить</a>
</div>