@model HomeViewModel

<div>
	<h1>Favorites</h1>

	<div class="container">
		<div class="row">
			@foreach (Car car in Model.favCars)
			{
				<div class="col-md-3" style="margin-bottom: 20px;">
					@Html.Partial("AllCars", car)
				</div>
			}
		</div>
	</div>
</div>